/* Ajouter Cavalier CSS */

.container-grid {
    display: grid;

    grid-template-columns: 10% 25% 55% 10%;
    /* e.g. 
        1fr 1fr
        minmax(10px, 1fr) 3fr
        repeat(5, 1fr)
        50px auto 100px 1fr
    */
    grid-template-rows: 700px;
    /* e.g. 
        min-content 1fr min-content
        100px 1fr max-content
    */

    margin-top: 6%;

    font-family: 'Montserrat', sans-serif;


}

.file-none {
    opacity: 0;
}

.file-add {
    background-color: rgb(224, 224, 224);
    width: 450px;
    border: 1px solid black;
}


.items-photo {
    display: grid;

    grid-template-columns: 1fr;
    /* e.g. 
        1fr 1fr
        minmax(10px, 1fr) 3fr
        repeat(5, 1fr)
        50px auto 100px 1fr
    */
    grid-template-rows: 1fr 1fr 1fr;
    /* e.g. 
        min-content 1fr min-content
        100px 1fr max-content
    */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.items-form {
    display: grid;

    grid-template-columns: 10% 1fr 10%;
    /* e.g. 
        1fr 1fr
        minmax(10px, 1fr) 3fr
        repeat(5, 1fr)
        50px auto 100px 1fr
    */
    grid-template-rows: 10% 1fr 1fr 1fr 1fr 1fr 10%;
    /* e.g. 
        min-content 1fr min-content
        100px 1fr max-content
    */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}



input {
    margin-top: 10px;
    width: 400px;
    height: 38px;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 5px;
}

label {
    font-weight: 500;
}

.subItem-right-1 {
    display: flex;
    flex-direction: row;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.subItem-name {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.subItem-right-2 {
    display: flex;
    flex-direction: row;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.subItem-right-3 {
    display: flex;
    flex-direction: row;
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}

.subItem-right-4 {
    display: flex;
    flex-direction: column;
    grid-row: 5 / 6;
    grid-column: 2 / 3;
}

.subItem-right-5 {
    display: flex;
    flex-direction: column;
    grid-row: 6 / 7;
    grid-column: 2 / 3;
}

.subItem-right-5 {
    display: flex;
    flex-direction: column;
    width: 437px;
    grid-row: 6 / 7;
    grid-column: 2 / 3;
}

.subItem-right-6 {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    grid-row: 7 / 8;
    grid-column: 2 / 3;
}

.btn {
    width: 150px;
    height: 40px;
    border-radius: 100px;
    border: none;
    font-size: 1.1rem;
    color: white;
}

.btn-ph {
    width: 180px;
    margin-top: 10px;
    height: 38px;
    border-radius: 4px;
    border: 1px solid rgb(206, 206, 206);
    font-size: 1rem;
    background-color: white;
}

.btn-back {
    background-color: #d33f35;
}

.btn-annuler {
    margin-right: 550px;
}

.btn-next {
    background-color: #2a9e57;
}


.items-photo {
    grid-column: 2 / 3;
    background-color: #ffc800;

}

.title_cav {
    margin-top: 4rem;
    color: rgb(58, 57, 57);
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.7rem;
}

img {
    width: 40%;
    display: block;
    margin: auto;
}

.items-form {
    border-left: 2px rgb(255, 255, 255) solid;
    grid-column: 3 / 4;
    background-color: #ffc8005d;

}

.subItem-left-title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

}


.subItem-left-photo {
    grid-row: 3 / 4;
    grid-column: 1 / 2;

}


.radio-container {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: inline-block;
    padding: 5px;
    margin-top: 7px;
}

.radio-container label {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 2px;
    display: inline-block;
    height: 28px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: 0.4s all ease-in-out;
    width: 55px;
}

.radio-container input[type=radio] {
    display: none;
}

.radio-container input[type=radio]:checked+label {
    background: #ffc800;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}


/* Style input photo */

.custom-file-input::-webkit-file-upload-button {
    margin: 0;
    padding: 2rem 1.5rem;
    font: 1rem/1.5 "PT Sans", Arial, sans-serif;
    color: #5a5a5a;
}

.custom-file-input::before {
    margin: 0;
    padding: 2rem 1.5rem;
    font: 1rem/1.5 "PT Sans", Arial, sans-serif;
    color: #5a5a5a;
}

.custom-file-input:hover::before {
    border-color: black;
}

.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

/* UPDATE FORM CSS */
.updateForm {
    width: 150px;
    height: 30px;
}

.inputID {
    display: none;
}

/* Liste Photo */
.listPhoto {
    width: 70px;
    height: 70px;
    border-radius: 10px;
}

.listPhoto-Update {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}